.app {

}

.rallytree {
    overflow: auto;
    border-right: 1px solid #999
}

.treeItem .pill {
    cursor: pointer;
}

.treeItem .pill .row-action {
    display: none;
}

.treeItem.selected .pill .textContent{
  background-color: #ccc;
}


.emptyChartMsg {
    text-align: center;
    padding: 15px;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
}
